.container {
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logout {
  position: absolute;
  top: 1rem;
  right: 1.25rem;
  display: flex;
  align-items: center;
  gap: 0.35rem;
}

.profile-picture {
  position: relative;
  height: 150px;
  width: 150px;
  margin-top: 1rem;
}

.profile-picture img {
  border-radius: 50%;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.info > .item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
}

.stat-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.stat-cards > .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.25rem;
  background: #dcdff6;
  padding: 1rem;
  width: 160px;
}

.stat-cards > .card > .stat {
  font-size: 1.35rem;
  margin-bottom: 1rem;
}

.stat-cards > .card > .label {
  margin: 0;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.top-ten {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  row-gap: 1rem;
  column-gap: 0.25rem;
  justify-content: space-between;
}

.top-ten > .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.top-ten > .item > .picture {
  position: relative;
  width: 95px;
  height: 130px;
}

.top-ten > .item > .picture img {
  border-radius: 0.25rem;
  object-fit: cover;
  transition: 0.3s;
}

.top-ten > .item > .picture img:hover {
  outline: #99b9ff 3px solid;
  outline-offset: -3px;
  filter: brightness(120%);
}

.top-ten > .item > .title {
  visibility: hidden;
  font-size: 0.75rem;
}

.top-ten > .item > .score {
  font-size: 0.75rem;
}

@media (prefers-color-scheme: dark) {
  .stat-cards > .card {
    background: #45495d;
  }
}
